.aplayer-lrc p{font-size:12px;font-weight:700;line-height:16px!important}.aplayer .aplayer-lrc p.aplayer-lrc-current{color:#49b1f5;font-size:15px}

/*修改插件整体背景*/
.aplayer.aplayer-fixed {
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    border-radius:0 4px 0 0!important;
}

.aplayer-body{
    background: rgba(255,255,255,0.1)!important;
    backdrop-filter: blur(10px);
}